<div class="d-md-flex flex-column h-100">
    <h1 [style.visibility]="event ? 'visible' : 'hidden'" class="text-center">
        {{ event ? event.name : "Placeholder" }}
    </h1>

    <div class="row flex-remaining-space">
        <div class="col-md-6 h-100">
            <div class="card mb-3 mb-md-0 h-100">
                <div class="card-header text-white bg-primary">
                    Event details
                </div>
                <div *ngIf="event" class="card-body overflow-auto">
                    <p class="card-text">
                        <strong>Group:</strong>&nbsp;
                        <span
                            *ngIf="event!.userRoleInGroup === 'Admin'"
                            class="badge badge-primary mr-1"
                            >Admin</span
                        >
                        <a routerLink="/group/{{ event!.groupId }}">{{ event!.groupName }}</a>
                    </p>
                    <p class="card-text"><strong>Name:</strong> {{ event!.name }}</p>
                    <p class="card-text">
                        <strong>Start time:</strong> {{ event!.startTimestamp | date: dateFormat }}
                    </p>
                    <p class="card-text">
                        <strong>End time:</strong> {{ event!.endTimestamp | date: dateFormat }}
                    </p>
                    <p class="card-text"><strong>Location:</strong> {{ event!.location }}</p>
                    <p class="card-text" *ngIf="event!.description">
                        <strong>Description:</strong> {{ event!.description }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 h-100">
            <div class="card h-100">
                <div class="card-header text-white bg-primary">Can people make it?</div>
                <div *ngIf="event" class="card-body overflow-auto">
                    <h5 class="card-title">Can you make it?</h5>
                    <div *ngIf="event!.ownStatus">
                        <p>
                            <app-event-response-status
                                [status]="event!.ownStatus"
                                [includeText]="true"
                            ></app-event-response-status>
                        </p>
                        <p *ngIf="event?.ownComment">{{ event?.ownComment }}</p>
                    </div>
                    <div *ngIf="!event!.ownStatus">
                        <div class="alert alert-danger mb-3" role="alert">
                            You still need to respond.
                        </div>
                        <form [formGroup]="responseFormGroup" (validSubmit)="respond()">
                            <div class="form-group">
                                <label for="inputStatus" style="display:block;">Status</label>
                                <div
                                    class="btn-group btn-group-toggle"
                                    ngbRadioGroup
                                    id="inputStatus"
                                    name="radioBasic"
                                    formControlName="status"
                                >
                                    <label ngbButtonLabel class="btn-light">
                                        <input ngbButton type="radio" [value]="'Yes'" />
                                        <app-event-response-status
                                            [status]="'Yes'"
                                            [includeText]="true"
                                        ></app-event-response-status>
                                    </label>
                                    <label ngbButtonLabel class="btn-light">
                                        <input ngbButton type="radio" [value]="'No'" />
                                        <app-event-response-status
                                            [status]="'No'"
                                            [includeText]="true"
                                        ></app-event-response-status>
                                    </label>
                                    <label ngbButtonLabel class="btn-light">
                                        <input ngbButton type="radio" [value]="'Maybe'" />
                                        <app-event-response-status
                                            [status]="'Maybe'"
                                            [includeText]="true"
                                        ></app-event-response-status>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputComment">Comment</label>
                                <textarea
                                    id="inputComment"
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter comment (optional)"
                                    formControlName="comment"
                                ></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Respond</button>
                        </form>
                    </div>

                    <h5 class="card-title mt-3">Can others make it?</h5>
                    <p><app-event-other-statuses [event]="event!"></app-event-other-statuses></p>
                    <ul *ngIf="otherResponses">
                        <li *ngFor="let response of otherResponses">
                            <app-event-response-status
                                class="mr-1"
                                [status]="response.status"
                            ></app-event-response-status>
                            <span>{{ response.userDisplayName }}</span>
                            <fa-icon
                                *ngIf="response.comment"
                                (click)="toggleShowCommentForResponse(response)"
                                class="ml-1"
                                style="cursor: pointer;"
                                [icon]="faCommentDots"
                            ></fa-icon>
                            <p
                                *ngIf="expandedResponseCommentUserId === response.userId"
                                class="text-muted small"
                                style="white-space: pre-line;"
                            >
                                {{ response.comment }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
