<div *ngIf="joinedGroups && invitedGroups">
    <div class="alert alert-primary" role="alert" *ngFor="let invitedGroup of invitedGroups">
        <p *ngIf="invitedGroup.userRole === 'Admin'">
            You have been invited to be an admin for the group "{{ invitedGroup.name }}".
        </p>
        <p *ngIf="invitedGroup.userRole !== 'Admin'">
            You have been invited to join the group "{{ invitedGroup.name }}".
        </p>
        <p class="mb-0">
            Click
            <a class="alert-link" routerLink="/group/{{ invitedGroup.id }}/accept-invitation"
                >here</a
            >
            to accept the invitation
        </p>
    </div>
    <div class="mb-3">
        <a routerLink="/group-create">Create a new group</a>
    </div>
    <div
        class="card cursor-pointer"
        *ngFor="let joinedGroup of joinedGroups"
        routerLink="/group/{{ joinedGroup.id }}"
    >
        <div class="card-body">
            <h5 class="card-title">
                <span *ngIf="joinedGroup.userRole === 'Admin'" class="badge badge-primary mr-1"
                    >Admin</span
                >
                <span>{{ joinedGroup.name }}</span>
            </h5>
            <p class="card-text">
                <strong>My display name:</strong> {{ joinedGroup.userDisplayName }}
            </p>
        </div>
    </div>
</div>
