<h1 class="text-center">Log in using an existing account</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input
                    type="email"
                    class="form-control"
                    id="inputEmail"
                    placeholder="Enter email"
                    [(ngModel)]="email"
                    name="email"
                />
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    placeholder="Enter password"
                    [(ngModel)]="password"
                    name="password"
                />
            </div>
            <button type="button" class="btn btn-primary" (click)="login()">Submit</button>

            <div
                class="alert alert-danger mt-3"
                role="alert"
                *ngIf="loginErrorType"
                [ngSwitch]="loginErrorType"
            >
                <span *ngSwitchCase="'UserNotSignedUp'"
                    >There is no signed up user with that email address. Do you want to
                    <a class="alert-link" routerLink="/signup">sign up</a> instead?</span
                >
                <span *ngSwitchCase="'EmailNotConfirmed'"
                    >Please confirm your email before logging in.</span
                >
                <span *ngSwitchCase="'InvalidPassword'"
                    >You have provided an invalid password.</span
                >
            </div>

            <div class="alert alert-primary mt-3" role="alert">
                Don't have an account yet? Click
                <a class="alert-link" routerLink="/signup">here</a> to sign up.
            </div>
        </form>
    </div>
</div>
