<div class="card cursor-pointer" routerLink="/event/{{ event.id }}">
    <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <p class="card-text"></p>
        <p>
            {{ event.startTimestamp | date: dateFormat }} -
            {{ event.endTimestamp | date: dateFormat }}
        </p>
        <p *ngIf="groupData">
            <strong>Group:</strong>&nbsp;
            <app-user-role-indicator [role]="groupData!.userRoleInGroup"></app-user-role-indicator>
            <span>{{ groupData!.groupName }}</span>
        </p>
        <p>
            <strong>Can you make it?&nbsp;</strong>
            <app-event-response-status
                *ngIf="event.ownStatus"
                [status]="event.ownStatus"
                [includeText]="true"
            ></app-event-response-status>
            <span *ngIf="!event.ownStatus" class="badge badge-danger">Not responded yet</span>
        </p>
        <p>
            <strong>Can others make it?&nbsp;</strong>
            <app-event-other-statuses [event]="event"></app-event-other-statuses>
        </p>
    </div>
</div>
