<div class="d-md-flex flex-column h-100">
    <h1 [style.visibility]="group ? 'visible' : 'hidden'" class="text-center">
        {{ group ? group.name : "Placeholder" }}
    </h1>

    <div class="row flex-remaining-space">
        <div class="col-md-6 h-100">
            <div class="card mb-3 mb-md-0 h-100">
                <div class="card-header text-white bg-primary">
                    Upcoming events for {{ group?.name }}
                </div>
                <div class="card-body overflow-auto">
                    <div class="mb-3" *ngIf="group?.userRole == 'Admin'">
                        <a routerLink="/event-create/group/{{ group?.id }}">Create a new event</a>
                    </div>
                    <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
                </div>
            </div>
        </div>
        <div class="col-md-6 h-100">
            <div class="card h-100">
                <div class="card-header text-white bg-primary">Members of {{ group?.name }}</div>
                <div class="card-body overflow-auto">
                    <h5 class="card-title">Members</h5>
                    <ul>
                        <li *ngFor="let member of members">
                            <span class="badge badge-primary mr-1" *ngIf="member.role === 'Admin'"
                                >Admin</span
                            >
                            <span *ngIf="member.isCurrentUser"
                                ><strong>{{ member.displayName }} (me)</strong></span
                            >
                            <span *ngIf="!member.isCurrentUser">{{ member.displayName }}</span>
                        </li>
                    </ul>
                    <div *ngIf="invitees">
                        <h5 class="card-title">Invited</h5>
                        <ul>
                            <li *ngFor="let invitee of invitees">
                                <span
                                    class="badge badge-primary mr-1"
                                    *ngIf="invitee.role === 'Admin'"
                                    >Admin</span
                                >
                                <span>{{ invitee.email }}</span>
                            </li>
                        </ul>
                        <h5 class="card-title">Invite other user</h5>
                        <form [formGroup]="invitationFormGroup" (validSubmit)="inviteUser()">
                            <div class="form-group">
                                <label for="inputEmail">User's email</label>
                                <input
                                    id="inputEmail"
                                    type="email"
                                    class="form-control"
                                    placeholder="Enter email"
                                    formControlName="email"
                                />
                                <small id="emailHelp" class="form-text text-muted"
                                    >Note that other group admins will be able to see the email
                                    addresses of users you invite.</small
                                >
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="makeAdminSwitch"
                                        formControlName="makeAdmin"
                                        (blur)="resetMakeAdminValidation()"
                                    />
                                    <label class="custom-control-label" for="makeAdminSwitch"
                                        >Make user admin</label
                                    >
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Invite user</button>
                            <div
                                class="alert alert-danger mt-3"
                                role="alert"
                                *ngIf="invitationErrorType"
                                [ngSwitch]="invitationErrorType"
                            >
                                <span *ngSwitchCase="'UserAlreadyInvited'"
                                    >The user has already been invited to this group.</span
                                >
                                <span *ngSwitchCase="'UserAlreadyMember'"
                                    >The user is already a member of this group.</span
                                >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
