/* this matches the Bootstrap Medium breakpoint that also triggers menu collapse */
@media (min-width: 768px) {
    .content {
        height: calc(100vh - 56px);
        width: 100vw;
        overflow: auto;
    }

    /* note: brand centering breaks expand-collapse */
    .navbar-brand-center {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.on-top {
    z-index: 200;
}
